:root {
    --multiplier: 300;
    --width: 2.5px;
    --height: 3.5px;
}

.card-main {
    position: relative;
    width: calc(var(--multiplier) * var(--width));
    height: calc(var(--multiplier) * var(--height));
    border: 10px solid black;
    display: grid;
    grid-template-areas:
        "a a b b b b"
        "c c c e e e"
        "d d d d d d"
        "f f f f f f";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    min-height: 0; /* NEW */
    min-width: 0;
}

.card-main > div {
    border-top: 1px dashed black;
}
.card-main > div:nth-child(even) {
    border-left: 1px dashed black;
}

.head-image-container {
    width: 100%;
    max-width: 100%;
    display: grid;
    position: relative;
    grid-area: a;
    overflow: hidden;
    min-height: 0; /* NEW */
    min-width: 0;
}
.head-image {
    width: 100%;
    overflow: hidden;
}

.title-text {
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 0; /* NEW */
    min-width: 0;
    width: 100%;
}

.education {
    grid-area: c;
    overflow: hidden;
    min-height: 0; /* NEW */
    min-width: 0;
    width: 100%;
}

.accomplishments {
    grid-area: d;
    overflow: hidden;
    min-height: 0; /* NEW */
    min-width: 0;
    width: 100%;
}

.point-of-interest {
    grid-area: e;
}

.automobile-image-container {
    grid-area: f;
    overflow: hidden;
    min-height: 0; /* NEW */
    min-width: 0;
    width: 100%;
}

.automobile-image {
    width: 110%;
    margin-top: -30%;
    margin-left: -10%;
}
